<html>
    {%extends "myApp/parent.html"%}
    {%block title_block%}
        <h2>Daveed's Blog</h2>
    {%endblock%}
<body>
    {%block content_block%}
    <h1 style="color:#3a400b">Daveed's Home Blog</h1>
    {%if tag%}
    <h1>Post tagged with {{tag.name}}</h1>
    {%endif%}
    {%for post in post_list%}
    <a href="{{post.get_absolute_url}}"><h2><b>{{post.title}}</b></h2></a>
    <p>Tags:
        {%for t in post.tags.all%}
        <a href="{%url "post_list_by_tag_name" t.slug%}">{{t.name}}</a>
        {%endfor%}
    </p>
    <i><b>bublished on {{post.publish}} by {{post.author|title}}</b></i>
    <p>Tags:{{post.tags.all|join:","}}</p>
    {{post.body|truncatewords:30|linebreaks}}
    {%endfor%}
    {%include "myApp/pagination.html" with page=post_list%}
{%endblock%}
</body>
</html>