<html>
    {%extends "myApp/parent.html"%}
    {%block title_block%}
        <h2>{{post.title}}</h2>
    {%endblock%}
<body>
    {%block content_block%}
    <h1>{{post.title}}</h1>
    <p>bublished on {{post.publish}} by {{post.author|title}}<p>
    {{post.body|linebreaks}} <br><br>
        <a href="/{{post.id}}/share" calss="btn btn-lg btn-primary">POST BY MAIL</a>
    {%with comments.count as comments_count%}
    <h2>{{comments_count}} Comment {{comments_count|pluralize}}</h2>
    {%endwith%}
    {%if comments%}
    {%for c in comments%}
    <p>Comment{{forloop.counter}} by {{c.name}}</p>
    <div>{{c.body|linebreaks}}</div>
    <hr>
    {%endfor%}
    {%else%}
    <p style="color:green;font-size:30px;font-style:bold;border-bottom:2px red solid;">There are no comments</p>

    {%endif%}
    {%if csubmit%}
        <h2> Thank You..Your Comment has been added Successfully!</h2>
    {%else%}
    <form  method="post">
        {{form.as_p}}
        {%csrf_token%}
        <input type="submit" class="btn btn-lg btn-primary" value="Submit">
    </form>
    {%endif%}
    {%endblock%}
</body>
</html>
(?P<id>\d+)